<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AITools</title>
  <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./bootstrap/css/index.css">
  <script src="./bootstrap/js/bootstrap.bundle.min.js"></script>

</head>

<body>
  <!-- 헤드 부분 -->
  <header>
    <nav class="navbar-expand">
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex" style="height: 60px">
          <a href="/" class="navbar-brand d-flex align-items-center text-center justify-content-around" style="width: 200px" aria="hoem">
            <img src="./img/logo3.png" width="40" height="40" />
            <strong class="flex-grow-1">AI 도구 모음</strong>
          </a>
          <div class="align-items-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="submit" href="#">제보하기</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main class="py-3 text-center container">
    <!-- 메인 제목 -->
    <section class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">AI 도구 저장소</h1>
      </div>
    </section>
    <!-- 검색창 -->
    <section class="d-flex justify-content-center mb-5">
      <input type="text" class="form-control w-75" placeholder="검색창 - 원하시는 키워드를 검색해보세요" />
    </section>
    <!-- 카테코리 부분 -->
    <section class="mb-3 d-flex justify-content-center">
      <div class="w-75 row row-cols-6 align-content-between justify-content-start">
        <% for(category of categories) {%>
        <div class="col mb-3">
          <input type="checkbox" class="btn-check" id="btn-check1" autocomplete="off" value="ai-detector" />
          <label class="btn btn-primary w-100" for="btn-check1"><%= category.name %></label>
        </div>
        <% } %>
      </div>
    </section>
    <!-- 앨범 부분 -->
    <section class="album py-5">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
          <% for(site of sites) {%>
          <div class="col">
            <div class="card shadow-sm text-start align-items-center">
              <a href="/sites/<%=site._id%>"><img src="./img/logo.png" class="card-img-top border-bottom border-dark" style="height: 225px; width: 100%" alt="..." /></a>
              <div class="card-body row" style="width: 100%; height: 175px">
                <p class="my-0 p-0 h5 card-title" style="height: 30px">
                  <%= site.name %>
                </p>
                <p class="my-0 p-0 card-text" style="height: 60px">툴 설명</p>
                <div class="d-flex align-items-center justify-content-between px-0" style="width: 100%">
                  <a href="/sites/<%=site._id%>">
                    <button type="button" class="d-inline btn btn-sm btn-outline-secondary">더보기</button>
                  </a>
                  <div class="col-8 d-inline text-end">
                    <button type="button" class="m-auto btn btn-sm btn-outline-secondary">
                      좋아요
                    </button>
                    <small class="text-muted">0</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>
  </main>

  <footer class="text-muted py-5"></footer>
</body>

</html>